<!--ビューファイル記述-->
<!--以下部分は書き換え元-->
<!--<h1>Lists#index</h1>-->
<!--<p>Find me in app/views/lists/index.html.erb</p>-->

<h1>投稿一覧</h1>

<% @lists.each do |list| %>

 <p>タイトル</p>
 <!--indexにshowへのリンクを作る際に削除-->
 <!--<span><%#= list.title %></span>-->
 <!--ここは4/6時点では理解不十分-->
 <span>
   <!--indexのlink_toを名前付きに変更-->
   <!--変更前-->
   <!--<%#= link_to list.title, "/lists/#{list.id}" %>-->
   <!--変更後-->
   <%= link_to list.title, list_path(list.id) %>
 </span>
 
 <p>画像</p>
 <% if list.image.attached? %>
  <%= image_tag list.image, size:"200×200" %>
 <% else %>
  <%= image_tag 'no_image', size: "200×200" %>
 <% end %>

<% end %>